@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;700&display=swap');
*{
  background-color: #f5ebe0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}
